/* ************************************* GENERAL ********************************************* */

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

/* START BUTTON */
.bt-small{
  padding: 8px 15px;
  border-radius: 20px;
  background-color: white;
}

.bt-big{
  padding: 15px 20px;
  border-radius: 26px;
  background-color: white;
}

.bg-black{
  color: white;
  background-color: black;
}

.bg-blue{
  color: white;
  background-color: #7289da;
}
/* END BUTTON */

h1{
  color: white;
  text-align: center;
  font-size: 3rem;
  padding: 30px 0px;
}

h2{
  font-size: 3rem;
  text-align: left;
  padding-bottom: 30px;
}

h3{
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  padding-bottom: 10px;
  color: #627fd2;
}

p{
  font-size: 1.2rem;
  line-height: 1.5;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover{
  text-decoration: none;
  color: #e53171;
}

/* *************************************HEADER **************************************** */
header{
  padding: 10px 0;
  background-color: #255ee9;
}


.box-header{
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #255ee9;
}

.link ul li{
  padding: 0px 15px;
}

.link ul li a{
  color: white;
}
/* *************************************MAIN ************************************************ */
.section-intro{
  background-image: url(../img/jumbo.png);
  background-position: center;
  background-size:cover;
  justify-content: space-between;
  align-items: center;
}

.section-intro{
  background-color:gold;
  padding: 40px 0px;
  justify-content: center;
  align-items: center;
}

.div-intro-center{
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  height: 300px;
  flex-direction: column;
}

.div-intro-center p{
  text-align: center;
  color: white;

}

.div-intro-button{
  margin:30px auto;
}

.bt-space{
  margin-right: 20px;
}

/* ********** group ************/
.section-group{
  background-color: white;
  padding: 40px 0px;
}

.distance{
  align-items: center;
  justify-content: center;
  padding: 40px 80px;
}

.div-technology{
  padding: 40px 80px;
  /* flex-direction: column;
  align-items: center; */
}

.div-technology p, 
.div-technology h2, 
.div-technology h3
{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.div-technology h3{
  background-image: url(../img/stars.svg);
  background-size: 600px;
  margin: 20px auto;
  max-width: 800px; 
}

.div-technology img{
  width: 120%;
  padding-right: 200px;
}

.section-voice{
  background-color:#f6f6f6;
  padding: 40px 0px;
}


.div-bt-center{
  width: 18%;
  margin: 60px auto;
}

/* ********************************************FOOTER ************************ */

footer{
  background-color: black;
  padding-top: 30px;
  color: white;
}

.brand{
  padding-top: 10px;
}
.brand p{
  padding-right:20px;
}


.div-social{
  flex-direction: column;

  width: 25%;
  margin-bottom: 20px;
}

.div-social img{
  max-width: 30px;
}

.div-info{
  width: calc(75% / 4);
  margin: 20px;
}

.div-info ul li a{
  color: white;
}

 .div-info ul li:first-child{
  color:#627fd2;
}

.div-info ul li{
  padding-bottom: 20px;
}

.border{
  border-bottom: 2px solid white;
  border-color: #627fd2;
}

.ending{
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-bottom: 20px;
}

.ending-h{
  height: 40px;
}

